@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e0e3eb;
}
.container {
  flex: 1;
  position: relative;
  max-width: 400px;
  width: 80%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin: 100px auto;
}
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 19px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #2f9fff;
}
.footer {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-shrink: 0;
}
.footer a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }
  .container {
    padding: 20px 10px;
  }
}
